﻿<%@ Page Language="C#" AutoEventWireup="true" EnableEventValidation="false" CodeFile="ReplayHistoric.aspx.cs" Inherits="ReplayHistoric" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type ="text/javascript">
        //setTimeout(Refresh, 10000);
        //function Refresh()
        //{
        //    location.reload(true);
        //}
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
       <%-- <asp:TextBox ID="FromDateControl" runat="server"></asp:TextBox>
        <ajaxToolkit:CalendarExtender ID="FromDateControl_CalendarExtender" runat="server" TargetControlID="FromDateControl" />
        <asp:TextBox ID="ToDateControl" runat="server"></asp:TextBox>
        <ajaxToolkit:CalendarExtender ID="ToDateControl_CalendarExtender" runat="server" TargetControlID="ToDateControl" />
        <asp:Button ID="Button1" runat="server" Text="Search" OnClick="Button1_Click1" />--%>
        <asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
        <asp:Button ID="Button3" runat="server" OnClick="Button3_Click" Text="Stop All" />
        <br />
        <asp:TextBox ID="MatchIdSearch" runat="server"></asp:TextBox>
        <asp:Button ID="Button2" runat="server" Text="Search" OnClick="Button2_Click1" />
        <br />
        <asp:GridView ID="GridView1" runat="server" AutoGenerateColumns="False" OnRowCommand="GridView1_RowCommand" >          
            <Columns>
                <asp:BoundField DataField="FirstMessage" HeaderText="FirstMessage" />
                <asp:BoundField DataField="LastMessage" HeaderText="LastMessage" />
                <asp:BoundField DataField="MessageCount" HeaderText="MessageCount" />
                <asp:TemplateField>
                    <ItemTemplate>
                        <asp:Button ID="ReplayButton" runat="server"
                            CommandName="Replay"
                            CommandArgument="<%# ((GridViewRow) Container).RowIndex %>"
                            Text="Replay"/>
                    </ItemTemplate>
                </asp:TemplateField>
                <%--<asp:BoundField DataField="Status" HeaderText="Status" />--%>
                <%--<asp:TemplateField>
                    <ItemTemplate>
                        <asp:Button ID="ReplayButton" runat="server"
                            CommandName="Replay"
                            CommandArgument="<%# ((GridViewRow) Container).RowIndex %>"
                            Text="Replay" OnDataBinding="ReplayButton_DataBinding"/>
                    </ItemTemplate>
                </asp:TemplateField>
                                <asp:TemplateField>
                    <ItemTemplate>
                        <asp:Button ID="ReplayButtonOT" runat="server"
                            CommandName="ReplayOT"
                            CommandArgument="<%# ((GridViewRow) Container).RowIndex %>"
                            Text="ReplayOT" OnDataBinding="ReplayButton_DataBinding"/>
                    </ItemTemplate>
                </asp:TemplateField>--%>
            </Columns>
        </asp:GridView>
        
    </div>
    </form>
</body>
</html>
